/* .ProductList {
    width: 100%;
    margin: 20px auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
} */


.ProductList{
    width: 70%;
    margin: auto;
    /* padding-bottom: 50px; */
}

.pedido {
    text-align: center;
}


