.Login {
    width: 30%;
    margin: 20px auto;
    /* border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc; */
    text-align: center;
}

/* .error{
    color:rgb(255, 0, 0);
} */

/* .Button{
    padding:10px;
} */